*{
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* // padding: 16px 16px 0 16px; */
  background-image: url('../../assets/bg/pageBg.png');
  background-size: cover;
  background-position: center center;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  /* // background-color: #ff0000; */
}
.bg_video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.bg_wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.bg_top {
  position: absolute;
  width: 100%;
  height: 60px;
  background-image: url('../../assets/bg/head.png'); 
  background-size: cover;
  background-position: center center;
  /* z-index: 100; */
  /* box-sizing: border-box; */
}
/* // 新样式 */
.btn_back {
  width: 150px;
  height: 48px;
  position: absolute;
  right: 20px;
  padding: 4px;
  top: 48px;
  background: url('../../assets/bg/experience-back.png') no-repeat;
  background-size: 100% 100%;
  text-align: center;
  font-size: 20px;
  line-height: 48px;
  color: #caf2ff;
  font-weight: 600;
  cursor: pointer;
  box-sizing: border-box;
  /* // margin-top: 48px; */
  /* // margin-left: 20px; */
}
.btn_back_in {
  height: 40px;
  line-height: 40px;
  /* // margin: 4px; */
  /* // border: 1px solid #ff0000; */
}
.bg_content {
  flex: 1;
  display: flex;
  height: calc(100% - 150px);
  padding-top: 70px;
  padding-bottom: 70px;
}
.bg_content_left {
  flex: 1;
  width: 600px;
  height: 100%;
  padding-left: 60px;
  display: inline-block;
  vertical-align: top;
  overflow: auto;
}
.bg_content_left_item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  display: inline-block;
  /* width: 420px; */
  height: 72px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  line-height: 72px;
  color: #caf2ff;
  cursor: pointer;
}
.bg_content_left_item:hover {
  background: url('../../assets/bg/experience-left-hover.png') no-repeat;
  background-size: 100% 100%;
}
.experience-left-hover {
  background: url('../../assets/bg/experience-left-hover.png') no-repeat;
  background-size: 100% 100%;
}
.experience-left {
  background: url('../../assets/bg/experience-left.png') no-repeat;
  background-size: 100% 100%;
}

.bg_content_right {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: top;
  overflow: auto;

}
.bg_content_right_item {
  width: 500px;
  height: 325px;
  display: inline-block;
  vertical-align: top;
  background: url('../../assets/bg/experience-box-bg.png') no-repeat;
  background-size: 100% 100%;
  margin-left: 50px;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 25px;
  position: relative;
  cursor: pointer;
 

}
.bg_content_right_item_img {
  width: 460px;
  height: 270px;
}
.bg_content_right_item_name {
  position: absolute;
  left: 20px;
  bottom: 22px;
  width: 460px;
  height: 35px;
  background: rgba(0, 0, 0, 0.7);
  text-align: left;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0;
  font-weight: 600;
  line-height: 35px;
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* 滚动条 */
/*里面的代码可以根据自己需求去进行更改*/
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 12px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rbga(255,255,255,0);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
/* ::-webkit-scrollbar-thumb:window-inactive {
background-color: #2472ea;
} */